.div{
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
}

.form {
    height: 180px;
    width: 300px;
    background-color: rgb(222, 118, 253);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    margin-top: 20px;
    margin-bottom: 20px;
}

.password {
    margin-bottom: 20px;
}
.label{
    margin-right: 10px;
}